  <div class="ss-company">
    <div class="ss-company__about">
      <div class="about-img">
        <img class="centered" src="images/team-mask.jpg" alt="">
      </div>
      <div class="wrap">
      <h2>About us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet condimentum suscipit. Donec nisl sem, vestibulum et mollis in, consequat non quam.
      </p>
      <p>Nulla ultrices lectus sit amet felis fermentum, et rhoncus risus feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet condimentum suscipit.</p>
      <p>Nulla ultrices lectus sit amet felis fermentum, et rhoncus risus feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet condimentum suscipit.</p>
      </div>
    </div>
    <div class="ss-company__mission">
      <h2>Our Company</h2>
      <a href="index.html"><img src="images/logo-ss-2.png" alt=""></a>
      <h1>The easiest way to find a project for your skills.</h1>
    </div>
    <div class="ss-company__ww">
      <div class="wrap">
      <h2>Around the world</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet condimentum suscipit.</p>
      <p>Nulla ultrices lectus sit amet felis fermentum, et rhoncus risus feugiat. Nulla ultrices lectus sit amet felis fermentum, et rhoncus risus feugiat.</p>
      <ul>
        <li><span>32+</span> <br>contries</li>
        <li><span>1000+</span><br> projects</li>
        <li><span>12099+</span> <br>skilled people</li>
      </ul>
      </div>
      <div class="about-img">
        <img class="centered" src="images/map-design.jpg" alt="">
      </div>
      </div>

    </div>



    </div>
