<div class="wrap container">
  <h2 class="title-underlined">Just Listed</h2>
  <div class="semi-line"></div>
  <div class="projects-container">
    <a href="/project-page.html">

      <div class="project-card">
        <div class="project-card__img"><img src="images/teacher.jpg"></div>
          <span class="project-card__price-box">$200</span>
        <div class="small-wrap">
          <div class="project-card__job ">English Classes</div>
          <div class="project-card__title">
            Ema Watson
          </div>
          <div class="project-card__reviews">
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <span class="totalrew">22 reviews</span>
          </div>

          <div class="project-card__details">
            <partial src="svg/placeholder.svg"></partial>
            <span>City Name</span>
          </div>
          <div class="project-card__details">
            <partial src="svg/calendar.svg"></partial>
            <span>22.08.2017</span>
          </div>
          <div class="horizontal-line"></div>
          <div class="job-type">Teaching</div>
        </div>
      </div>
    </a>


    <a href="/project-page.html">
      <div class="project-card">
        <div class="project-card__img"><img src="images/doctor.jpg"></div>
        <div class="small-wrap">
          <div class="project-card__job ">Pediatry</div>
          <div class="project-card__title">
            Joe Doe
          </div>
          <div class="project-card__reviews">
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <span class="totalrew">22 reviews</span>
          </div>

          <div class="project-card__details">
            <partial src="svg/placeholder.svg"></partial>
            <span>City Name</span>
          </div>
          <div class="project-card__details">
            <partial src="svg/calendar.svg"></partial>
            <span>22.08.2017</span>
          </div>
          <div class="horizontal-line"></div>
          <div class="job-type">Medical</div>
        </div>
      </div>
    </a>

    <a href="/project-page.html">
      <div class="project-card">
        <div class="project-card__img"><img src="images/doctor.jpg"></div>
        <div class="small-wrap">
          <div class="project-card__job ">Pediatry</div>
          <div class="project-card__title">
            Joe Doe
          </div>
          <div class="project-card__reviews">
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <span class="totalrew">22 reviews</span>
          </div>

          <div class="project-card__details">
            <partial src="svg/placeholder.svg"></partial>
            <span>City Name</span>
          </div>
          <div class="project-card__details">
            <partial src="svg/calendar.svg"></partial>
            <span>22.08.2017</span>
          </div>
          <div class="horizontal-line"></div>
          <div class="job-type">Medical</div>
        </div>
      </div>
    </a>
    <a href="/project-page.html">
      <div class="project-card">
        <div class="project-card__img"><img src="images/doctor.jpg"></div>
        <div class="small-wrap">
          <div class="project-card__job ">Pediatry</div>
          <div class="project-card__title">
            Joe Doe
          </div>
          <div class="project-card__reviews">
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <partial src="svg/star.svg"></partial>
            <span class="totalrew">22 reviews</span>
          </div>

          <div class="project-card__details">
            <partial src="svg/placeholder.svg"></partial>
            <span>City Name</span>
          </div>
          <div class="project-card__details">
            <partial src="svg/calendar.svg"></partial>
            <span>22.08.2017</span>
          </div>
          <div class="horizontal-line"></div>
          <div class="job-type">Medical</div>
        </div>
      </div>
    </a>

  </div>
</div>
<div class="expand-listing container">
  <a href="/project-page.html">See all
  <partial src="svg/arrow-point-to-right.svg"></partial></a>
</div>
