<div class="overlay-dialog">
  <div class="overlay-content">
    <div class="cancel-icon"><partial src="svg/cancel.svg"></partial></div>
    <h1>Welcome back!</h1>
    <h2>Sign in to see your project, messages and find the help you need</h2>
    <div class="btns-register">
      <p>Sign in with:</p>
      <button><partial src="svg/facebook-c.svg"></partial><span>Facebook</span></button>
      <button><partial src="svg/google-plus-c.svg"></partial><span>Google</span></button>
      <p>or</p>
      <div class="btns-register__half">
        <input type="email" placeholder="Email">
        <partial src="svg/contact.svg"></partial>
      </div>
      <div class="btns-register__half">
        <input type="password" placeholder="Password">
        <partial src="svg/lock.svg"></partial>
      </div>

    </div>
    <div class="overlay-content__message">
      <span>Are you new on Skills for Sale?</span>
      <button>Sign up</button>
    </div>
  </div>
</div>

