<div class="wrap container">
  <h2 class="title-underlined">Most Popular Categories</h2>
  <div class="semi-line"></div>

</div>
<div class="job-category">

  <div class="job-category__box">
      <div class="job-category__items">
        <ul>
          <li><a href="/projects-listing.html">Handyman</a></li>
          <li><a href="/projects-listing.html">Snow removal</a></li>
          <li><a href="/projects-listing.html">Water plants</a></li>
          <li><a class="more" href="">More</a></li>
        </ul>
      </div>
      <partial src="svg/watering-can.svg"></partial>
      <div class="job-category__title" >Garden</div>

  </div>

  <div class="job-category__box">
    <a href="/projects-listing.html">
      <div class="job-category__items">
        <ul>
          <li><a href="/projects-listing.html">Dental Exam & Cleaning</a></li>
          <li><a href="/projects-listing.html">Eye Exam</a></li>
          <li><a href="/projects-listing.html">Physical Therapy</a></li>
          <li><a class="more" href="">More</a></li>
        </ul>
      </div>
      <partial src="svg/doctor.svg"></partial>
      <div class="job-category__title" >Medical</div>
    </a>
  </div>
  <div class="job-category__box">
    <a href="/projects-listing.html">
      <div class="job-category__items">
        <ul>
          <li><a href="/projects-listing.html">Car Wash</a></li>
          <li><a href="/projects-listing.html">Auto Detailing</a></li>
          <li><a href="/projects-listing.html">Oil Change</a></li>
          <li><a class="more" href="">More</a></li>
        </ul>
      </div>
      <partial src="svg/car.svg"></partial>
      <div class="job-category__title" >Automotive</div>
    </a>

  </div>
  <div class="job-category__box">
    <a href="/projects-listing.html">
      <div class="job-category__items">
        <ul>
          <li><a href="/projects-listing.html">Manicure</a></li>
          <li><a href="/projects-listing.html">Hair Coloring</a></li>
          <li><a href="/projects-listing.html">Conditioning Treatment</a></li>
          <li><a class="more" href="">More</a></li>
        </ul>
      </div>
      <partial src="svg/scissor-and-comb.svg"></partial>
      <div class="job-category__title" >Health and Beauty</div>
    </a>

  </div>
  <div class="job-category__box">
    <a href="/projects-listing.html">
      <div class="job-category__items">
        <ul>
          <li><a href="/projects-listing.html">Manicure</a></li>
          <li><a href="/projects-listing.html">Hair Coloring</a></li>
          <li><a href="/projects-listing.html">Conditioning Treatment</a></li>
          <li><a class="more" href="">More</a></li>
        </ul>
      </div>
      <partial src="svg/scissor-and-comb.svg"></partial>
      <div class="job-category__title" >Health and Beauty</div>
    </a>

  </div>
  <div class="job-category__box">
    <a href="/projects-listing.html">
      <div class="job-category__items">
        <ul>
          <li><a href="/projects-listing.html">Car Wash</a></li>
          <li><a href="/projects-listing.html">Auto Detailing</a></li>
          <li><a href="/projects-listing.html">Oil Change</a></li>
          <li><a class="more" href="">More</a></li>
        </ul>
      </div>
      <partial src="svg/car.svg"></partial>
      <div class="job-category__title" >Automotive</div>
    </a>

  </div>

</div>
<div class="expand-listing container">
  <a href="/projects-listing.html">See all
    <partial src="svg/arrow-point-to-right.svg"></partial></a>
  </div>
