.form-container {
  max-width: 70rem;
  margin: 0 auto; }
  .form-container h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 5rem;
    line-height: 1.4; }
  .form-container label {
    margin-bottom: .8rem; }
