$primary-color: #04CAC7;
$secundary-color: #00686F;
$body-color: #04344B;
$body-bg-color: #ffffff;
$body-font: 'Montserrat', sans-serif;

$titles-font: 'Merriweather', serif;

$border-color: #e5eaec;
$category-name-color: #B3C1CB;
