$primary-color: #04CAC7;
$secundary-color: #00686F;
$body-color: #373A3F;
$body-bg-color: #ffffff;
$body-font: 'Montserrat', sans-serif;
$heading-font: 'Merriweather', serif;
$heading-color: #04344B;
$border-color: #e5eaec;
$category-name-color: #B3C1CB;
