// $primary-color: #0e9aa7;
// $secundary-color:  #eb6841;
// $body-color: #04344B;
// $body-bg-color: #ffffff;
// $body-font: 'Montserrat', sans-serif;

// $titles-font: 'Merriweather', serif;

// $border-color: #e5eaec;
// $category-name-color: #B3C1CB;


$primary-color: #F67280;
$secundary-color: #355C7D ;
$body-color: #474747  ;
$body-bg-color: #ffffff;
$body-font: 'Open Sans', sans-serif;

$titles-font: 'Encode Sans Expanded', sans-serif;

$border-color: #e5eaec;
$category-name-color: #f1f1f1;
