@import "_variables";
header {
  border-bottom: 1px solid $border-color;
}

nav {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem;
  grid-area: header;
  align-items: center;
  .top-nav {
    text-align: right;
    li {
      display: inline-block;
    }
     a {
      display: inline-block;
      margin: .3rem;
      font-size: 1.4rem;
      font-weight: 400;

    }
  }
  img {
    width: 6rem;
    height: auto;
  }
}



.hilighted {
  background-color: darken($secundary-color, 15%);
  border-radius: .4rem;
  margin-bottom: 0;
  color: $body-bg-color;
  font-weight: 200;
  padding: 1rem;
  display: inline-block;
}
@media only screen
  and (min-width: 1024px) {
    nav {
      max-width: 140rem;
    }
  }
