@import "_variables";
.listing-page {
  &__top-categories {
    display: none;
   li {
      display: inline;
      flex: 1 0 auto;
    }
    a {
      display: inline-block;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $body-color;
      font-weight: 400;
      line-height: 1.8;
      border-bottom: 1px solid $body-bg-color;
      padding-bottom: 10px;
      &:hover {
        border-bottom: 1px solid $secundary-color;
      }
    }

  }
  &__top-bar {
    display: grid;
    padding-bottom: 2rem;
    border-bottom: 1px solid $border-color;

  .filters {
        margin-top: 2rem;

      button {
        font-size: 1.6rem;
        font-weight: 400;
        position: relative;
        margin-right: .8rem;
        border-radius: .3rem;
        padding: 1rem;
        background-color: $secundary-color;
        color: $category-name-color;
      }

    .close {
      font-size: 1.2rem;
      font-weight: 200;
      margin-left:.5rem;
    }
    &__more {
      font-size: 1.6rem;
      font-weight: 400;
      background-color: $border-color;
      border-radius: .3rem;
      padding: 1rem;
      justify-content: center;
      svg {
        fill: $body-color;
        width: 1rem;
        height: auto;
      }
    }
  }


  .search-area {
    width: auto;
    margin: inherit;
    grid-row-start: 1;
    &__box {
      height: auto;
    }
  }
  }
  .projects-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    overflow: inherit;
    .project-card {
      margin-bottom: 2.5rem;
    }
  }
}
.search-results {
  font-size: 1.8rem;
  font-style: italic;
  text-transform: capitalize;
  margin-top: 2.5rem;
}
.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  li, a {
    display: inline-block;
    font-size: 1.4rem;
  }
  a {
    padding:0 .5rem;
  }
  &__full-circle {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 1.6rem;
    line-height: 3.2rem;
    background-color: $secundary-color;
    color: $body-bg-color;
  }
  &__empty-circle {
    width: 3rem;
    height: 3rem;
    border-radius: 1.6rem;
    line-height: 3rem;
    border: 1px solid $secundary-color;
  }
  svg {
    width: 1rem;
    height: auto;
    fill: $secundary-color;
  }
}
////////////////////////////RESPONSIVE//////////////////////
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px) {
  .listing-page {
    &__top-categories {
      display: flex;
    }
    &__top-bar {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      align-items: end;
      border-top: 1px solid $border-color;
      padding: 3rem 0;
      .filters {
        margin-top: 0;
        button {
          padding: 1.5rem;
        }
        &__more {
          padding: 1.5rem;
        }
      }
      .search-area {
        grid-row-start: initial;
      }
    }
  }
  .listing-page .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
@media only screen
  and (min-width: 1024px) {
    .listing-page {
    &__top-categories {
      display: flex;
    }
    &__top-bar {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      align-items: center;
      border-top: 1px solid $border-color;
      padding: 3rem 0;
      .filters {
        margin-top: 0;
        button {
          padding: 1.5rem;
        }
        &__more {
          padding: 1.5rem;
        }
      }
      .search-area {
        grid-row-start: initial;
      }
    }

  }
  .listing-page .projects-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen
  and (min-width: 1440px) {
    .listing-page .projects-container {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
