@import "_variables";
.project-page {

  .avatar {
    text-align: center;
    &__image {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      background-color: $secundary-color;
      overflow: hidden;
      position: relative;
      img {
        max-width: 8rem;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &--small {
        width: 5rem;
        height:5rem;
      }

    }
    &__name {
      font-size: 1.4rem;
      font-weight: 400;
      margin: .5rem 0 0 0;
      span {
        font-style: italic;
        font-weight: 300;
        font-size:1.2rem;
        white-space: nowrap;
      }
    }
  }
  &__infos {
    display: grid;
    align-items: center;
    .project-details {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 6rem;
      &__left {
        font-size: 1.7rem;

        h2 {
          font-size: 3.4rem;
          font-weight: 600;
          font-family: $titles-font;
          margin-bottom: 1.5rem;
          margin-top: 0;
        }
      }

      &__price {
        color: $secundary-color;
        font-weight:600;
        letter-spacing: .1rem;
      }

      &__date {
        font-weight: 300;
        margin: 0 2rem;
        svg {
          width:1.3rem;
          height: auto;
          fill: $body-color;
        }
      }
      &__images {
        // color: $secundary-color;
        font-size: 1.4rem;
        font-weight: 300;
        box-shadow: 0 1px 4px 0 rgba(119,119,119,0.33);
        padding: .5rem;

      }
    }
    .gallery {
      display: none;
      width: 32rem;
      height: 20rem;
      overflow: hidden;
      position: relative;
      img {
        max-width: 34rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &__btn {
        background-color: $body-bg-color;
        color: $secundary-color;
        font-size: 1.4rem;
        font-weight: 300;
        box-shadow: 0 1px 4px 0 rgba(119,119,119,0.33);
        padding: .8rem;
        position: absolute;
        bottom: .2rem;
        left: .2rem;
      }
    }
  }
  &__description {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin-top: 1.5rem;
    grid-column-start: 1;
    grid-column-end: 4;
    p {
      margin-bottom: 1.5rem;
      margin-top: 0;
    }
  }
  &__contest {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
    li {
      display: inline-block;
    }
    a {
      padding: .5rem 1rem .5rem 0;
      margin-right: 1rem;
      font-size: 2rem;
      font-weight: 300;
      font-family: $titles-font;
    }
    .active {
      font-weight: 400;
    }
  }
  &__comments {
    grid-column-start: 1;
    grid-column-end:   3;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 6rem auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
    .comm {
      grid-column-start: 2;
      grid-column-end: 4;
      overflow: hidden;
      margin-top: 0;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.2rem;
      p {
        margin: 0;
        display: inline-block;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
    .avatar {
      display: inline-grid;
    }
    .expand-comm {
      grid-column-start: 2;
      grid-column-end:   4;
      text-align: left;
      color: $secundary-color;
      font-size:1.5rem;
      font-weight: 400;
      padding: .5rem 0;
      cursor: pointer;
    }
  }
  .take-btn {
    background-color: $primary-color;
    color: $body-bg-color;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
    margin: 2rem auto;
    width: 20rem;
  }
  &__bidders {
    display: flex;
    overflow: scroll;
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid $border-color;
    .project-card {
      text-align: center;
      min-width: 14rem;
      height: 100%;
      box-shadow: none;
      margin-right: 2.5rem;
      padding:0;
      &__title {
        text-align: center;
        font-weight: 400;
        color: $body-color;

      }
      &__reviews {
        margin-bottom: 0;
      }
      &__time {
        color: $secundary-color;
        font-style: italic;
        font-weight: 400;
        border-top: 1px solid $secundary-color;
        margin-top: 1rem;
        padding-top: .5rem;

      }
    }

  }
  .pagination {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .response {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 35rem;
    margin: 5rem auto;
    padding: 1rem;
    border: 1px solid $secundary-color;
    display: grid;
    align-items: center;
    justify-content: start;

    &__placeholder {
      margin-left: 1rem;
      font-size: 1.6rem;
      grid-column-start: 2;
      grid-column-end: 3;
    }

  }
}

////////////////////////////RESPONSIVE//////////////////////
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  .project-page {
    &__infos {
      align-items: left;
      grid-template-columns: 1fr 32rem;
      grid-column-gap: 2rem;
      .project-details {
       align-items: start;
       &__images {
        display: none;
      }
    }
  }
  .gallery {
    display: inline-grid;
  }
}


}
@media only screen
and (min-width: 1024px) {
  .project-page {
    &__infos {
      align-items: left;
      grid-template-columns: 1fr 32rem;
      grid-column-gap: 2rem;
      .project-details {
       align-items: start;
       &__images {
        display: none;
      }
    }

    .gallery {
      display: inline-grid;
    }

  }
  &__contest {
    margin-top: 8rem;
  }
  &__bidders {
    .project-card {
      min-width: 18rem;
    }
  }
  .take-btn {
    width: 25rem;
  }
  .response {
    width: 55rem;
  }
}

}
