@import "_variables";
.search-area {
    max-width: 85rem;
    margin: 0 auto 8rem auto;
  &__title {
    font-size: 4rem;
    line-height: 1.4;
    margin-top: 4.5rem;
  }
  &__box {
    display: flex;
    grid-area: main;
    height: 7rem;

    input{
      flex: 1 0 55%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: .5rem 0 .5rem 2rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1.6rem;
      font-weight: 400;
    }
    .btn {
      flex: 1 0 auto;
      font-family: $body-font;
      font-size: 1.8rem;
      padding: 1.6rem .8rem;
      color: #fff;
      background-color: $primary-color;
      border-radius: .5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}

////////////////////////////RESPONSIVE//////////////////////
@media only screen
  and (min-width: 1024px){
  .search-area {
    max-width: 1024px;
    input{
      flex: 1 0 75%;
    }
  }
}
