@import "_variables";
.logo-copy {
   // font-family: 'Poiret One', cursive;
   font-family: 'Homemade Apple', cursive;
   font-size: 6rem;
   color: $secundary-color;
   text-align: center;
   margin: 0;
   display: inline;
   background-image: -webkit-linear-gradient(left, $primary-color, $secundary-color); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(left, $primary-color, $secundary-color); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(left, $primary-color, $secundary-color); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(left, $primary-color, $secundary-color); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, $primary-color, $secundary-color); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
.search-area {
    max-width: 85rem;
    margin: 0 auto 8rem auto;
    text-align: center;
    background-color: linear-gradient(to right, $primary-color, $secundary-color);
  &__title {
    font-size: 3.5rem;
    font-family: 'Encode Sans Expanded', sans-serif;
    line-height: 1.4;
    font-weight: 300;
  }
  &__box {
    display: flex;
    input{
      flex: 1 0 55%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 2rem 1.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1.6rem;
      font-weight: 400;
    }
    .btn {
      flex: 1 0 auto;
      border: 1px solid $primary-color;
      font-size: 2rem;
      font-family: $body-font;
      color: $body-bg-color;
      letter-spacing: .6px;
      background-color: $primary-color;
      border-radius: .5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      &:hover {
        background-color: darken($primary-color, 2%);
      }
    }
    &--large {
      input {
        padding: 3rem 1.5rem;
        font-size: 1.8rem;
        flex: 1 0 65%;
      }
    }
  }

}

////////////////////////////RESPONSIVE//////////////////////
@media only screen
  and (min-width: 1024px){
  .search-area {
    max-width: 100rem;
  }
}
