@import "_variables";
@import "_normalize";

::-webkit-scrollbar {
    display: none;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
 }  /* =10px */

body {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: $body-font;
  color: $body-color;
  min-height: 100%;
  background: $body-bg-color;
  font-size: 1.8rem;
}
p, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
}
h1, h2 {
  font-family: $titles-font;
  font-weight: 400;
  color: $body-color;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  grid-template-areas: "header header"
    "main main"
    "footer footer";
}
.primary-btn {
    background-color: $primary-color;
    color: $body-bg-color;
    text-align: center;
    font-size: 1.8rem;
    padding: 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
    margin: 2rem auto;
    width: 20rem;
  }
.secundary-btn {
  background: lighten($secundary-color, 20%);
  color: $body-bg-color;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 3px;
  width: 15rem;
  height: 6rem;
  margin-top: 3rem;
  border: 0;
}
.border {
  width: 100%;
  height: 1px;
  background-color: $border-color;
  margin: 2rem 0;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap {
  padding: 2rem;
}
.small-wrap {
  padding: 1rem;
}
.btn-send {
  border: 1px solid $secundary-color;
  background-color: transparent;
  color: $secundary-color;
  border-radius: .4rem;
  padding: .8rem 1rem;
  text-transform: capitalize;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  margin-top: 2rem;
}

//////////////////////////  FOOTER  ///////////////////////
footer {
  flex: 1 0 auto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: darken($secundary-color, 15%);
  .footer-nav {
    li {
      display: inline-block;
    }
    li a {
      color: $body-bg-color;
      font-size: 1.4rem;
      font-weight: 400;
      padding: .5rem;
    }
  }
  .social-links {
    a {
      display: inline-block;
      padding: 1.5rem .5rem;

    }
    li {
      display: inline-block;
    }
    svg {
      fill: $body-bg-color;
      width: 1.4rem;
      height: auto;
    }
  }

}
/////////////////////////   END FOOTER ///////////////////

@import "header";
@import "search";
@import "most-popular";
@import "just-listed";
@import "projects-listing";
@import "project-page";
@import "about-us";
@import "register_forms";
@import "forms";
@import "add-a-project";
@import "owner-profile";



