@import "_variables";
@import "_normalize";

::-webkit-scrollbar {
    display: none;
}
html {
  height: 100%;
  font-size: 62.5%;
 }  /* =10px */

body {
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  color: $body-color;
  min-height: 100%;
}
p, a {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2 {
  font-family: $titles-font;
  font-weight: 400;
  color: $body-color;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: $body-bg-color;
  padding: 2rem;
  grid-template-areas: "header header"
    "main main"
    "footer footer";
}
.border {
  max-width: 1024px;
  margin: 0 auto;
  height: 1px;
  background-color: $border-color;
  margin: 2rem 0;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap {
  padding: 2rem;
}
.small-wrap {
  padding: 2rem 1rem;
}
.btn-send {
  border: 1px solid $secundary-color;
  background-color: transparent;
  color: $secundary-color;
  border-radius: .4rem;
  padding: .8rem 1rem;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: .1rem;
  margin-top: 2rem;
}


//////////////////////////  FOOTER  ///////////////////////
footer {
  flex: 1 0 auto;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  text-align: center;
  background-color: $body-color;
  .footer-nav {
    li {
      display: inline-block;
    }
    li a {
      color: $body-bg-color;
      font-size: 1.4rem;
      font-weight: 200;
      padding: .5rem;
    }
  }
  .social-links {
    a {
      display: inline-block;
      padding: 1.5rem .5rem;

    }
    li {
      display: inline-block;
    }
    svg {
      fill: $body-bg-color;
      width: 1.4rem;
      height: auto;
    }
  }

}
/////////////////////////   END FOOTER ///////////////////

@import "header";
@import "search";
@import "most-popular";
@import "just-listed";
@import "projects-listing";
@import "project-page";

